@import url(./base/_normalize.scss);
@import url(./utils/_variables.scss);
@import url(./utils/_placeholder.scss);
@import url(./utils/_repeating-classes.scss);
@import url(./components/_header.scss);
@import url(./components/_hero.scss);
@import url(./components/_tasks.scss);
@import url(./components/_studio.scss);
@import url(./components/_modal.scss);
/* Tasks */
/* Work */
.studio__bottom {
  padding-top: 0;
}

.studio-list__img {
  display: flex;
}

.studio__item {
  position: relative;
  margin-right: 30px;
}

.studio__item:last-child {
  margin-right: 0;
}

.studio-subtitle__wrap {
  display: block;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.studio__subtitle {
  margin: 27px 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-text);
}

/*Team*/
.team {
  background-color: #F5F4FA;
}

.team-photo__list {
  display: flex;
  text-align: center;
}

.team__item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-text);
}

.team__item:last-child {
  margin-right: 0;
}

.team-photo__name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team-photo__title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--sacondary-text-color);
}

.team-icon__list {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.team-icon__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.team-icon__item:last-child {
  margin-right: 0;
}

.team-icon__link {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  background-color: transparent;
  transition: color var(--animation), background-color var(--animation);
}

.team__icon {
  fill: currentColor;
}

.team-icon__link:hover,
.team-icon__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-text);
}

/* clients */
.clients-icon__list {
  display: flex;
  justify-content: center;
}

.clients-icon__item:last-child {
  margin-right: 0;
}

.clients-icon__item {
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.clients-icon__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  background-color: transparent;
  transition: color var(--animation), border var(--animation);
}

.clients-icon__link:hover,
.clients-icon__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/* Main Portfolio */
:root {
  /* --primary-text-color: #212121;
  --sacondary-text-color: #757575;
  --accent-color: #2196F3; */
  --socials-block-color: #F5F4FA;
}

.portfolio-button__list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.portfolio__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border: none;
  background-color: var(--socials-block-color);
  color: var(--primary-text-color);
  cursor: pointer;
  transition: color var(--animation), background-color var(--animation);
}

.portfolio__button:hover,
.portfolio__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Project */
.portfolio-project__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-project__link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--animation);
}

.portfolio-project__link:hover,
.portfolio-project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-project__img {
  position: relative;
  overflow: hidden;
}

.portfolio-project__wrap {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translateY(101%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--animation);
}

.project-list-link:hover .project-list-wrap,
.project-list-link:focus .project-list-wrap {
  transform: translateY(0);
}

.portfolio-project__text {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--primary-white-text);
}

.portfolio-project__border {
  border: 1px solid #EEEEEE;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-project__subtitle {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--sacondary-text-color);
}

/*Footer*/
.footer {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer__wrap {
  display: flex;
  align-items: baseline;
}

.logo__decor--white {
  color: var(--primary-white-text);
}

.footer-nav__address,
.footer-nav__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color var(--animation);
}

.footer-nav__address {
  margin-top: 20px;
  color: var(--primary-white-text);
}

.footer-nav__link:hover,
.footer-nav__link:focus {
  color: var(--accent-color);
}

.footer-socaial__wrap {
  margin-left: 70px;
}

.footer__titel {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-text);
}

.footer-socaial-icon__list {
  display: flex;
}

.footer-socaial-icon__item:last-child {
  margin-right: 0;
}

.footer-socaial-icon__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.footer-socaial-icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--primary-white-text);
  background-color: rgba(255, 255, 255, 0.1);
  transition: color var(--animation), background-color var(--animation);
}

.footer-socaial-icon__link:hover,
.footer-socaial-icon__link:focus {
  background-color: var(--accent-color);
}

.footer__icon {
  fill: currentColor;
}

/* Footer - form */
.footer-form__wrap {
  margin-left: auto;
}

.footer__form {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.footer-form__input {
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  outline-width: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-white-text);
  transition: border-color var(--animation);
}

.footer-form__input::placeholder {
  transition: color var(--animation);
}

.footer-form__input:hover,
.footer-form__input:focus {
  border-color: var(--accent-color);
}

.footer-form__input:hover::placeholder {
  color: var(--accent-color);
}

.footer-form__button {
  position: relative;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: baseline;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-white-text);
  border-radius: 4px;
}

.footer-form-button__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--primary-white-text);
}/*# sourceMappingURL=main.css.map */